apiclient==1.0.2
cssmin==0.2.0
dateutils==0.6.6
dulwich==0.9.1
envoy==0.0.2
Fabric==1.4.3
Flask==0.9
GDAL==1.11.0
httplib2==0.11.3
Jinja2==2.6
nose==1.2.1
oauth2client==1.2
odict==1.5.1
ply==3.4
psycopg2==2.7.4
pycrypto==2.6
python-dateutil==2.2
python-magic==0.4.15
pytz==2013.8
requests==1.1.0
s3cmd==2.0.1
simplejson==3.3.1
six==1.6.0
slimit==0.7.4
ssh==1.7.14
urllib3==1.7.1
Werkzeug==0.8.3
xlrd==0.9.0
