<div class="browse<%= artist.id %> browse-artist">
    <% if (artist.first_name) { %>
    <a href="javascript:;" class="slidelink" data-id="<%= artist.id %>">
        <img src="img/people/<%= artist.photo_filename.replace('.jpg', '') %>_120.jpg" />
    </a>
    <h2>
        <a href="javascript:;" class="slidelink" data-id="<%= artist.id %>">
        <%= artist.first_name %> <%= artist.last_name %>
        </a>
    </h2>
    <% } %>

    <% if (artist.obit_URL.length > 2) { %>
    <p class="npr-obit"><a href="<%= artist.obit_URL %>" target="_blank">More from our archives &rsaquo;</a></p>
    <% } %>
</div>