{% extends '_base.html' %}

{% block extra_css %}{% endblock %}

{% block extra_head %}
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script>
<script>
    WebFont.load({
         custom: {
             families: [
                 'Gotham SSm:n4,n7'
             ],
             urls: [
                 'http://s.npr.org/templates/css/fonts/GothamSSm.css'
             ]
         },
         timeout: 10000
     });
</script>
{% endblock extra_head %}


{% block content %}
<div id="audio-navbar">
    <div class="branding">
        <h2>NPR Music: In Memoriam 2013</h2>
    </div>

    <div id="audio">
        <div id="pop-audio" class="jp-jplayer"></div>
        <div id="jp_container_1" class="jp-audio">
            <div class="jp-type-single">
                <div class="jp-gui jp-interface">
                    <div class="jp-controls">
                        <a href="javascript:;" class="jp-play nav-btn" tabindex="1" title="play"><i class="fa fa-play"></i></a>
                        <a href="javascript:;" class="jp-pause nav-btn" tabindex="1" style="display: none;" title="pause"><i class="fa fa-pause"></i></a>
                    </div>
                    <div class="jp-progress-container">
                        <div class="jp-progress">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                            </div>
                        </div>
                        <ul id="slide-nav">
                            <li id="send" class="slide-nav-item" title="Credits"><span>Credits</span></li>
                        </ul>
                    </div>
                    <div class="jp-current-time"></div>
                </div>
            </div>
        </div> <!-- end .jp-audio -->
    </div> <!-- end #audio -->

    <div id="browse-btn" class="nav-btn"><i class="fa fa-th-list"></i></div>
    <div id="next-btn" class="nav-btn back-next" title="Next"><span>Next</span><i class="fa fa-chevron-right"></i></div>
    <div id="back-btn" class="nav-btn back-next" title="Back"><i class="fa fa-chevron-left"></i><span>Back</span></div>
</div> <!-- end #audio-navbar -->

<div id="list-nav" class="slide-list"></div>

<div id="slideshow">
    <div id="slideshow-wrap">

        <div id="panel0" class="panel panel-open">
            <div id="title" class="panelbg">
                <div class="panel-inner">
                    <a id="title-button" href="javascript:;">
                        <h5>NPR Music presents</h5>
                        <h1>In Memoriam</h1>
                        <h2>NPR Music remembers the singers, instrumentalists, songwriters and personalities who died in 2013. Explore their musical&nbsp;legacies.</h2>
                        <h3>Begin</h3>
                    </a>
                </div>
            </div>
        </div> <!-- end #panel0 -->

        <div id="panelend" class="panel panel-end">
            <div class="panelbg">
                <div class="panel-wrap">

                    <h3>Share This</h3>
                    <ul id="share-buttons">
                        <li class="twitter"><a rel="external" href="http://twitter.com/share?text={{ TWITTER.TEXT|urlencode }}&amp;url={{ TWITTER.URL|urlencode }}" alt="Share on Twitter" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Twitter In Credits', '{{ PROJECT_NAME }}']);">Share This On Twitter</a></li>
                        <li class="facebook"><a rel="external" href="https://www.facebook.com/dialog/feed?app_id={{ FACEBOOK.APP_ID }}&amp;link={{ FACEBOOK.URL|urlencode }}&amp;name={{ FACEBOOK.TITLE|urlencode }}&amp;picture={{ FACEBOOK.IMAGE_URL|urlencode }}&amp;redirect_uri={{ FACEBOOK.URL|urlencode }}" alt="Share on Facebook" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Facebook In Credits', '{{ PROJECT_NAME }}']);">Like This On Facebook</a></li>
                    </ul>

                    <h3>Featured Artists</h3>
                    <div id="list-nav-end"></div>

                    <h3>Project Credits</h3>
                    <p>NPR Music: Jessica Goldstein, Tom Huizenga, Anastasia Tsioulcas</p>
                    <p>Design and Development: Jeremy Bowers, Christopher Groskopf, Alyson Hurt, Shelly Tan</p>

                </div>
            </div>
        </div> <!-- end #panelend -->

    </div>
</div>
{% endblock content %}


{% block extra_foot_js %}
    {{ JS.push('js/lib/jquery.smooth-scroll.min.js') }}
    {{ JS.push('js/lib/jquery.jplayer.js') }}
    {{ JS.push('js/lib/popcorn-complete.js') }}
{% endblock %}

{% block extra_foot %}
<script type="text/javascript">
window.PEOPLE = {{ PEOPLE|safe }};window.AUDIO_LENGTH = {{ AUDIO_LENGTH }};
{% if SOX_ALERT == True %}
    alert('Hi! Jeremy just updated the app.py to require sox.\nYou can install it like this:\n\nbrew install sox\n\nThanks!.');
{% endif %}
</script>
{% endblock extra_foot %}