{% extends '_base.html' %}

{% block extra_css %}{% endblock %}

{% block extra_head_js %}
    {{ JS.push('js/lib/jquery.smooth-scroll.min.js') }}
    {{ JS.push('js/lib/jquery.jplayer.js') }}
    {{ JS.push('js/lib/popcorn-complete.min.js') }}
{% endblock %}
{% block extra_head %}{% endblock %}


{% block content %}
<div id="audio-navbar">
    <div class="branding">
        <h2>NPR Music: In Memoriam 2013</h2>
    </div>

    <div id="audio">
        <div id="pop-audio" class="jp-jplayer"></div>
        <div id="jp_container_1" class="jp-audio">
            <div class="jp-type-single">
                <div class="jp-gui jp-interface">
                    <div class="jp-controls">
                        <a href="javascript:;" class="jp-play nav-btn" tabindex="1" title="play"><i class="fa fa-play"></i></a>
                        <a href="javascript:;" class="jp-pause nav-btn" tabindex="1" style="display: none;" title="pause"><i class="fa fa-pause"></i></a>
                    </div>
                    <div class="jp-progress-container">
                        <div class="jp-progress">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                            </div>
                        </div>
                        <ul id="slide-nav">
                            <li id="send" class="slide-nav-item" title="Credits"><span>Credits</span></li>
                        </ul>
                    </div>
                    <div class="jp-current-time"></div>
                </div>
            </div>
        </div> <!-- end .jp-audio -->
    </div> <!-- end #audio -->

    <div id="browse-btn" class="nav-btn"><i class="fa fa-th-list"></i></div>
    <div id="next-btn" class="nav-btn back-next" title="Next">Next&nbsp;&rsaquo;</div>
    <div id="back-btn" class="nav-btn back-next" title="Back">&lsaquo;&nbsp;Back</div>
</div> <!-- end #audio-navbar -->

<div id="list-nav" class="slide-list"></div>

<div id="slideshow">
    <div id="slideshow-wrap">

        <div id="panel0" class="panel panel-open">
            <div id="title" class="panelbg">
                <div class="panel-inner">
                    <a id="title-button" href="javascript:;">
                        <h5>NPR Music presents</h5>
                        <h1>In Memoriam</h1>
                        <p>NPR Music remembers the singers, instrumentalists, songwriters and personalities who died in 2012. Explore their musical&nbsp;legacies.</p>
                        <h2>Begin &rsaquo;</h2>
                    </a>
                </div>
            </div>
        </div> <!-- end #panel0 -->

        <div id="panelend" class="panel panel-end">
            <div class="panelbg">
                <div class="panel-wrap">
                    <h3>Featured Artists</h3>
                    <div id="list-nav-end"></div>
                    <h3>Project Credits</h3>
                    <p>Jeremy Bowers, Christopher Groskopf, Alyson Hurt, Shelly Tan / NPR</p>
                </div>
            </div>
        </div> <!-- end #panelend -->

    </div>
</div>
{% endblock content %}


{% block extra_foot %}
<script type="text/javascript">window.PEOPLE = {{ PEOPLE|safe }};</script>
{% endblock extra_foot %}